:root {
    --theme-font-color: rgb(204, 204, 204);
    --theme-background: rgb(14, 14, 14);
    --footer-background: rgb(110, 0, 0);
    --menuoption-hoover: white;

    /* BUTTON*/
    --button-background-color: rgba(0, 0, 0, 0.247);
    --button-hoover-background-color: rgba(0, 0, 0, 0.452);
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--theme-font-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--theme-background);
}

.btn {
    font: inherit;
    color: inherit;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid var(--theme-font-color);
    border-radius: 1vh;
    background-color: var(--button-background-color);
    transition: color, background-color .5s;
    user-select: none;
}

.btn:hover {
    background-color: var(--button-hoover-background-color);
    color: var(--menuoption-hoover);
    cursor: pointer;
}

/* #region Welcome page */

#welcome-page {
    width: 100%;
    height: 100vh;
    background-image: url('../img/welcome-screen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

#welcome-content {
    height: 100%;
    padding: 0 2vh;
    margin-top: 40vh;
}

#welcome-content h1, h2 {
    text-align: center;
    margin: 0 0 2vh 0;
}

#welcome-content h1 {
    font-size: 3em;
}

#welcome-content h2 {
    font-size: 2em;
    margin-bottom: 10vh;
}

#welcome-content p {
    text-align: center;
}

#welcome-content h2 span:first-child {
    color: green;
}

#welcome-content h2 span:last-child {
    color: red;
}

/* #endregion */


/* #region NAVBAR */

nav {
    position: relative;
    z-index: 1000;
}
/* #region EXPANDABLE */

.menu-expander {
    width: 50px;
    height: fit-content;
    border: 2px solid var(--theme-font-color);
    border-radius: 5px;
    margin: 1vh 0 0 1vw;
    display: block;
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.expandable {
    position: relative;
}

.menu-collapsable {
    display: none;
    z-index: 1231;
    position: absolute;
    top: 0;
    border-radius: 5px;
    width: 100%;
}

.menu-expander:hover {
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 80%;
    background-color: var(--theme-font-color);
    margin: 8px auto;
}

.menu-collapsable a {
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
}

.menu-collapsable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.menu-collapsable ul li {
    font-size: 1.3em;
    padding: 2vh 1vw;
    text-align: center;
    margin: 1vh 0;
    background-color: rgba(0, 0, 0, 0.856);
}

/* #endregion */

.navbar {
    display: flex;
    padding: 1vh 0;
    height: 50px;
}

.navbar-logo {
    padding: 0 20px;
    height: 100%;
    display: inline-block;
}

.navbar-logo div{
    color: white;
    font-size: 1.2em;
    text-align: center;
}


.navbar-logo img {
    width: auto;
    height: 300%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.navbar a {
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar ul li:first-child {
    margin-left: auto;
}

.navbar ul li {
    display: flex;
    align-items: center;
    padding: 0 2vw;
    height: 100%;
}

.navbar ul li:hover {
    color: var(--menuoption-hoover);
    cursor: pointer;
}

.icon-box{
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
}


.icon{
    padding: 0;
    margin:0;
    width: 50px;
    height: 35px;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 0.6;
}

.icon:hover{
    cursor: pointer;
    opacity: 0.8;
}

#pl{
    background-image: url("../Menu/img/poland.png");

}

#en{
    background-image: url("../Menu/img/en.jpg");
}

/* #endregion */

/* #region FOOTER */

footer .content {
    height: 16vh;
    background-color: var(--footer-background)
}

footer .content div {
    padding: 2vh 0;
    width: 100%;
}

footer .content p {
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

footer .content p:first-child {
    font-size: 1.1em;
}

.signature {
    font-size: 10px;
    text-align: center;
    color: rgb(114, 114, 114);
  }
  .signature p{
    margin: 0;
  }
  .signature a{
    color: rgb(114, 114, 114);

  }
  .signature a:hover{
    color: rgb(94, 94, 94);
  }

/* #endregion */

@media only screen and (max-width: 800px) {
    #welcome-content {
        margin-top: 10vh;
    }

    .no-phone {
        display: none !important;
    }

    .menu-expander {
        display: block;
    }

    .about-content {
        display: inline-block;
    }

    .ingredients-content {
        display: inline-block;
    }

    .content-left, .content-right {
        width: 100%
    }

    .contact-content {
        display: inline-block;
    }

    .contact-left, .contact-right {
        width: 100%
    }

    .icon-box{
        position: absolute;
        right:0;
        text-align: right;
    }
    
}